<% @convert = %w[one two three four five] %>

<div class="rateit" id="rate_resp" style="float:left;"><b>rating:</b> <%= number_with_precision(asset.avg_rating, 1) %>/5 (<%= asset.num_ratings %> votes)&nbsp;</div>
<div id="gem-ratings-block-<%= asset.id %>" class="gem-ratings-block">
	  <ul class='gem-rating'>
	      <li class='current-rating' style='width:<%= (asset.avg_rating * 18).to_i -%>px;'>
						<% if asset.avg_rating == nil %>
              Be the first to rate this gem!
						<% else %>
						  Currently <%= number_with_precision(asset.avg_rating, 1) %>/5 Gems.
						<% end %>
        </li>
        <% 1.upto(5) do |x| -%>
        	<li>
	            <%= link_to_remote( "#{x}", 
	                 { :url => { :controller => "results", :action => "rate", :id => asset.id, :rating => x, :rateable_type => 'Release' }, :update => 'rate_resp' },
                   { :id => "rate_#{asset.id}_#{x}", :class => "#{@convert[x-1]}-gems rateable", :name => "#{pluralize(x,'gem')} out of 5", :title => "Rate this a #{x} out of 5" } )
							%>
	        </li>
        <% end -%>
    </ul>  
</div>


