<% if @releases.length == 0 %>
  <h2>Sorry, nothing found</h2>
<% else %>
  <ul class="result_list">
    <% @releases.each do |release| %>
    <li>
      <h2>
        <a href="<%= release.homepage %>">
          <%= release.ruby_gem.name %>
        </a>
      </h2>
      <p>
        <span class="small summary"><%= release.summary %></span>
      </p>
      <p>
        <span class="small release">
          <a href="http://rubyforge.org/projects/<%= release.rubyforge_project %>">
            <%= release.ruby_gem.name %>&ndash;<%= release.version %>
          </a> &ndash;
          <span class="small date"><%= release.released_on %></span> &ndash;
          <span class="small author">
            <% release.ruby_gem.authors.map { |a| a.name }.uniq.compact.map do |n| %>
              <%= link_to(truncate(n), :action => 'search', :q => truncate(n)) %>
            <% end.join(", ") %>
          </span>
        </span>
      </p>
    </li>
    <% end %>
  </ul>
<% end %>
