<a name="___top"></a>
<div class='toc'>
<div class='indexgroup'>
	<ul class='indexList indexList1'>
		<% @faqs.each do |faq| %>
		  <li>
		    <a href="#<%= faq[:q] -%>"><%=h faq[:q] -%></a>
			</li>
		<% end %>
	</ul>
</div>
</div>

<% @faqs.each do |faq| %>
  <h3>
    <a class="u" href='#___top' title='click to go to top of document' name="<%= faq[:q] -%>"><%= faq[:q] -%></a>
	</h3>
	<p>
		<%= faq[:a] -%>
	</p>
<% end %>
<hr/>
